html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Caveat", cursive, sans-serif, arial;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  margin: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 5px;
}

h1 span {
  color: #9d0208;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  width: 97%;
  margin: 40px;
}

.image-container img {
  width: 30%;
  height: 65ch;
  justify-content: space-around;
  margin: 10px;
}

/* Media Quert to be responsive in every device*/

@media screen and (max-width: 900px) {
  h1 {
    font-size: 18px;
  }
  .image-container img {
    width: 100%;
    margin: 10px;
  }
  .image-container {
    margin: 10px;
  }
}
